body {
    padding: 0;
    margin: 0;
}

#map { 
    height: 100vh; 
}

#info {
    font-family: 'Inter', sans-serif;
    padding: 15px;
    font: 14px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#info h2 {
    margin: 0 0 5px;
}

#info .division-name {
    font-size: 16px;
    margin: 6px 0 10px;
}

#info .sup-division-name {
    font-size: 12px;
    color:rgb(56, 56, 56);
}