body {
    padding: 0;
    margin: 0;
}

#map { 
    height: 100vh; 
}

.basic-control {
    font-family: 'Inter', sans-serif;
    padding: 14px;
    font: 1rem;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#title-control h1 {
    margin: 0;
}

#title-control p {
    margin: 4px 0 0;
}

#info-control .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4px;
    column-gap: 8px;
    margin-top: 10px;
    align-content: start;
}

#info-control h2 {
    margin: 0;
}

#info-control .subheading {
    margin-top: 4px;
    margin-bottom: 8px;
    color:rgb(90, 90, 90)
}

#info-control .descriotion {
    margin-top: 8px;
    margin-bottom: 4px;
}

#info-control .grid-wrapper dt,
#info-control .grid-wrapper dd {
    padding: 2px;
    margin-inline-start: 0;
}

#info-control .grid-wrapper dt {
    font-weight: 600;
}

.leaflet-bar {
    font-family: Inter;
}